.hero{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.hero_image{
  width: 100vw;
  height: 100vh;
  position: relative;

  img{
    object-fit: cover;
    filter: brightness(0.8);
  }
}

.text{
  position: absolute;
  color: white;
  z-index: 1;
  width: max-content;
  height: max-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  width: 60rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  column-gap: 0.4rem;

  .word_wrapper{
    font-size: var(--h1-font-size);
    overflow: hidden;
    width: max-content;
    height: 56.8px;

    .word{
      position: relative;
      top: 0%;
    }
  }
}

