.hero{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.hero_image{
  width: 100vw;
  height: 100vh;
  position: relative;
}

.overlay{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0);
}