.hover{
  font-size: var(--small-font-size);
  cursor: pointer;
  position: relative;
  width: max-content;

  &::after {
    content: "";
    width: 100%;
    position: absolute;
    height: 1px;
    background-color: #fff;
    transform: scaleX(1);
    transform-origin: bottom right;
    left: 0;
    bottom: 0;
  }
}