.hover{
  font-size: var(--small-font-size);
  cursor: pointer;
  position: relative;
  width: max-content;
  padding-bottom: 3px;

  &:hover{
    &::after{
      transform: scaleX();
    }
  }

  &::after {
    content: "";
    width: 100%;
    position: absolute;
    height: 1px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: bottom right;
    left: 0;
    bottom: 0;
  }
}