.hover{
  font-size: var(--small-font-size);
  cursor: pointer;

  &::after {
    content: "";
    width: 0;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-top: 1px;
    position: relative;
    left: 0;
    bo
  }
}