.hover{
  font-size: var(--small-font-size);
  cursor: pointer;

  &::after {
    content: "";
    width: 0;
    po
    height: 1px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: bottom right;
    left: 0;
    bottom: 0;
  }
}