.navigation{
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 10;
}

.nav_wrapper{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo_wrapper{
    width: 200px;
    aspect-ratio: 200/35.0791;
    overflow: hidden;
    position: relative;

    .image{
      position: relative;

      img{
        obj
      }
    }

  }
}