.text_container{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  position: relative;
}

.grey{
  color: var(--grey);
  text-transform: uppercase;
  font-size: calc(var(--small-font-size) - 0.1rem);
}

.text{
  font-size: var(--h1-font-size);
  cursor: pointer;
  width: max-content;
}

.cursor{
  width: 70px;
  height: 25px;
  background-color: rgb(217, 217, 217);
  display: grid;
  place-items: center;
  position: absolute;
  z-index: 2;
  pointer-events: none;

  span{
    font-size: calc(var(--small-font-size) - 0.1rem);
    color: black;
    letter-spacing: 1px;
  }
}